@charset "UTF-8";

.imagemCentralizada{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.divTopo{
	padding-bottom: 10px;
	
}

.divCabecalho{
	padding-bottom: 15px;
	margin-top: 25px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 100% !important;
}